@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

body {
    margin: 0;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/orangered_bg/bg3.jpg') no-repeat center center;
    background-size: cover;
    opacity:0.6;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: rgb(20, 19, 18);
    z-index: 100;
    cursor: default;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 1px;
    transform: scale(1.15);
}

.nav-logo img {
    vertical-align: middle;
    margin-right: auto;
    width: 35px;
    height: 35px;
}
.nav-logo h1 {
  font-size: 2rem;
  color: #f3e3d2;
  font-weight: 600;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: white;
    padding-bottom: 15px;
    margin: 0 25px;
    cursor: pointer;
}

.link:hover, .active {
    border-bottom: 2px solid white;
}

.nav-button .btn {
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: #f7e7ce;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: .3s ease;
}

#registerBtn {
    margin-left: 15px;
}

.btn.white-btn {
    background: #f3e3d2;
}

.btn:hover {
    background: #eacfa2;
}

.btn.white-btn:hover {
    background: #eacfa2;
}

.nav-menu-btn {
    display: none;
}

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    border-radius: 15px;
    z-index: 2;
}

.login-container {
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
}

.register-container {
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
}

.top span {
    color: black;
    font-size: large;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

header {
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 10px 0 15px 0;
}

.two-forms {
    display: flex;
    gap: 10px;
}

.input-field {
    font-size: 16px;
    background: #fff;
    color: #fff;
    height: 35px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 9px;
    outline: none;
    transition: 0.2s ease;
}

.input-field:hover,
.input-field:focus {
    background: #f7e7ce;
}

::-webkit-input-placeholder {
    color: rgb(0, 0, 0);
}

.input-box i {
    position: relative;
    top: -25px;
    left: 17px;
    color: black;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 35px;
    width: 100%;
    border: none;
    border-radius: 9px;
    outline: none;
    background: white;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: #f7e7ce;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: #000000;
    font-size: large;
    margin-top: 10px;
}

.two-col .one {
    display: flex;
    gap: 5px;
}

.two label a {
    text-decoration: none;
    color: black;
}
